.main{
    
    max-width: 1440px;
    margin-top: 150px;
}

/* HEADER */

.header{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.text_header{
    width: 1050px;
    font-size: 28px;
    font-weight: 500;
}

.text_under_header{
    margin-top: 16px;
    font-size: 16px;
}

/* ПЛАНИРОВАНИЕ */

.button{
    border: 1.5px #8DD3BB solid;
    background-color: white;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 500;
    margin-top: 15px;
}

/* БЛОК С КАРТОЧКАМИ СТРАН */

.cards{
    margin-top: 20px;
    width: 1290px;
    display: grid;
    grid-template-columns: repeat(3, 479px);
    padding: 0;
    grid-row-gap: 30px;
}

.country {
    width: 300px;
    height: 80px;
    box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);
    border-radius: 10px; 
    background-color: white;
    padding: 16px;
    margin: 0;
    row-gap: 30px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.location{
    font-size: 14px;
    font-weight: 600;
    color: #112211;
}

.menu{
    margin-top: 7px;
    font-size: 14px;
    color: #112211;
}

.country img{
    height: 80px;
    width: 80px;
}

a{
    color: black;
    text-decoration: none;
}

/* БЛОК С ДВУМЯ ПЛАШКАМИ РЕЙСОВ И ОТЕЛЕЙ */

.bloks{
    display: flex;
    align-items: start;
    justify-content: space-between; 
    margin-top: 80px;
    width: 1370px;
    padding: 0;
    margin: 80px auto;
}

.trip{
    background-image: url('./images/trip.png');
    width: 604px;
    height: 559px;

    text-align: center;
}

.hotel{
    background-image: url('./images/hotel.png');
    width: 604px;
    height: 559px;
}

.naming{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-top: 380px;
}

.description_1{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.button_of_card{
    padding: 10px 18px;
    background-color: #8DD3BB;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;

    display: flex;
    align-items: start;
    justify-content: space-between;
}

.button_of_card p{
    margin-left: 10px;
}

img{
    width: 20px;
    height: 20px;
}